:root {
  font-size: 16px;
}

/* color for light mode */
body.light-mode {
  --bg_default: var(--bg_default_light);
  --bg_body: var(--bg_body_light);
  --lines-color: var(--lines-color_light);
  --body-text: var(--body-text_light);
}
/* color for dark mode */
body.dark-mode {
  --bg_default: var(--bg_default_dark);
  --bg_body: var(--bg_body_dark);
  --lines-color: var(--lines-color_dark);
  --body-text: var(--body-text_dark);
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--body-text);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--body-text);
}

option {
  color: var(--body-text);
  background: var(--bg_default);
}

.container {
  padding: 0 57px;
}

.img-in-box {
  width: 100%;
  max-width: 100%;
  height: 48%;
  object-fit: cover;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rating ion-icon {
  color: #f78b00;
  font-size: 1rem;
}

#loadingIndicator,
#errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background: var(--bg_default);
  height: 200px;
}

#loadingDots::after {
  animation: dots 1s infinite;
  content: ".";
  -webkit-animation: dots 1s infinite;
}

body {
  color: var(--body-text);
  background: var(--bg_body);
  font-size: 16px; /* Default font size */
}

/* start styling header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: var(--bg_default);
  position: relative;
  z-index: 2;
  box-shadow: 0px -2px 10px 0px var(--body-text_light);
}

header h1 {
  display: flex;
  align-items: center;
}

header #logo {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 1rem;
}

header nav ul {
  display: flex;
}

header nav ul li:first-child {
  margin-right: 5px;
}
header nav ul li .btn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  padding: 5px 5px;
  border: 1px solid var(--lines-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: transparent;
  width: 110px;
}

header nav ul li .btn-nav * {
  color: var(--body-text);
  font-size: 0.9rem;
  font-weight: 700;
}

header nav ul li button .icon {
  padding-right: 5px;
}
/* end header */
/* start styling welcome section */
.welcome-section {
  position: relative;
  height: 115px;
  background: var(--bg_default);
}

.welcome-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /*border-bottom: 50px solid transparent;
    border-left: 70vw solid var(--brand-primary); */
  clip-path: polygon(0% 0%, 0% 59%, 90% 0%);
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary)
  );
  width: 100%;
  height: 100%;
}

.welcome-section::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  /* border-bottom: 50px solid transparent;
    border-right: 70vw solid var(--brand-secondary); */
  clip-path: polygon(15% 0%, 100% 0%, 100% 60%);
  background: var(--brand-secondary);
  width: 100%;
  height: 100%;
}

.welcome-section .text {
  width: fit-content;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.welcome-section .text h1 {
  color: var(--brand-secondary);
  font-weight: 800;
  font-size: 1.4rem;
}

/* start styling footer */
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-text);
  padding-bottom: 40px;
  font-size: 1.1rem;
  font-weight: 700;
}

footer .heart {
  color: var(--heart-color);
}

/* start favorites styles */
.my-favorites {
  width: 100vw;
  padding: 15px 50px;
  background: var(--bg_default);
  position: fixed;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
}

.my-favorites.show {
  opacity: 1; 
  transform: translateY(0);
}

.my-favorites h2 {
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 800;
}

.my-favorites .favorite-container {
  display: flex;
  overflow: auto;
}

.my-favorites .favorite-container .favorite-card {
  width: 120px;
  min-width: 120px;
  height: 125px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.my-favorites .favorite-container .favorite-card img {
  height: 50%;
}

.favorite-container .favorite-card .favorite-topic,
.favorite-container .favorite-card .rating {
  font-size: 1rem;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* _______________________________________________________________ */
/* ____________________    media query   _________________________*/
@media (max-width: 992px) {
  .data-container .data {
    width: 85vw;
  }
  .course-info .add-favourites .btn-container button {
    font-size: 1rem;
  }
}

@media (max-width: 880px) {
  .welcome-section::after {
    clip-path: polygon(0% 0%, 0% 30%, 120% 0%);
  }
  .welcome-section::before {
    clip-path: polygon(-10% 0%, 100% 0%, 100% 30%);
  }
  .course-info .add-favourites .btn-container button {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 14px; /* Change the root font size to 14 pixels for smaller screens */
  }

  body {
    font-size: 0.875rem;
  }
  .container {
    padding: 0 17px;
  }

  header {
    height: 66px;
  }

  header nav ul li .btn-nav {
    width: fit-content;
  }

  header nav ul li button .icon {
    padding: 0px 5px;
  }

  header nav ul li .btn-nav span {
    display: none;
  }

  .welcome-section::after {
    clip-path: polygon(0% 0%, 0% 22%, 120% 0%);
  }
  .welcome-section::before {
    clip-path: polygon(-10% 0%, 100% 0%, 100% 22%);
  }

  .welcome-section .text {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
  .courses .course .course-info .category {
    max-width: 300px;
  }

  .data-container .data {
    width: 90vw;
  }
  .content-container .search-container .search-field {
    flex-direction: column;
  }
  .content-container .search-container .search-field input[type="text"] {
    border-bottom: 1px solid var(--lines-color);
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
  }
  .content-container .search-container .search-field .icon {
    top: 25%;
  }
  .search-field .drop .drop-down {
    flex-basis: 50%;
  }
  .search-field .drop .drop-down select {
    width: 100%;
  }
  .search-field .drop .drop-down .sort-select {
    border-left: none;
    border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -ms-border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
  }

  .search-field .drop .drop-down .filter-select {
    border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -ms-border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0;
  }
  .course-info .add-favourites .btn-container button {
    font-size: 1.2rem;
  }
  /* for details page */
  .data-container .data {
    display: block;
    padding-bottom: 20px;
  }
}

@keyframes dots {
  40% {
    content: "..";
  }
  80% {
    content: "...";
  }
}
