/* start styling search part */
.content-container {
  margin: 20px 0 50px;
}

.content-container .search-container .search-field {
  position: relative;
  display: flex;
  box-shadow: 0px 0px 6px 0px var(--lines-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background: var(--bg_default);
}
.search-field input[type="text"],
.search-field select {
  border: none;
}
.search-field input[type="text"] {
  width: 100%;
  height: 45px;
  font-size: 1rem;
  padding: 5px 5px 5px 40px;
  background: var(--bg_default);
  outline-color: var(--brand-primary);
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
}
.search-field .icon {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(15px, -50%);
  -webkit-transform: translate(15px, -50%);
  -moz-transform: translate(15px, -50%);
  -ms-transform: translate(15px, -50%);
  -o-transform: translate(15px, -50%);
  cursor: pointer;
}

.search-field .drop {
  display: flex;
  height: 45px;
}

.search-field .drop .drop-down {
  width: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.search-field .drop .drop-down label {
  font-size: 0.8rem;
  padding-left: 4px;
}
.search-field .drop .drop-down select {
  font-size: 0.875rem;
  font-weight: 500;
  outline-color: var(--brand-primary);
  background: transparent;
}

.search-field .drop .sort-drop-down {
  border-left: 1px solid var(--lines-color);
  border-right: 1px solid var(--lines-color);
}

.search-field .drop .drop-down .filter-drop-down {
  border-radius: 0 6px 6px 0;
}

.content-container #searchMessage {
  padding: 20px 0 30px;
}

.content-container #loadingIndicator,
.content-container #errorMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background: var(--bg_default);
  height: 200px;
}
.content-container #loadingIndicator #loadingDots::after {
  animation: dots 1s infinite;
  content: ".";
  -webkit-animation: dots 1s infinite;
}

/* start course card styling */
.content-container .courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.courses .course {
  background: var(--bg_default);
  height: 280px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.courses .course .course-info {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.courses .course .course-info .category {
  font-size: 0.9rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 215px;
}

.courses .course .course-info .topic {
  font-size: 0.95rem;
  font-weight: 800;
  min-height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.6;
}

.courses .course .course-info .name {
  font-size: 0.8rem;
}
