:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --heart-color: #dc143c;

  --bg_default_light: #ffffff;
  --bg_body_light: #f0f9ff;
  --lines-color_light: #dddddd;
  --body-text_light: #333333;

  --bg_default_dark: #1a1a1a;
  --bg_body_dark: #282828;
  --lines-color_dark: #000000;
  --body-text_dark: #ededed;

  --font-family: "Nunito Sans", sans-serif;
}
