:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --heart-color: #dc143c;

  --bg_default_light: #ffffff;
  --bg_body_light: #f0f9ff;
  --lines-color_light: #dddddd;
  --body-text_light: #333333;

  --bg_default_dark: #1a1a1a;
  --bg_body_dark: #282828;
  --lines-color_dark: #000000;
  --body-text_dark: #ededed;

  --font-family: "Nunito Sans", sans-serif;
}

/* color for light mode */
body.light-mode {
  --bg_default: var(--bg_default_light);
  --bg_body: var(--bg_body_light);
  --lines-color: var(--lines-color_light);
  --body-text: var(--body-text_light);
}
/* color for dark mode */
body.dark-mode {
  --bg_default: var(--bg_default_dark);
  --bg_body: var(--bg_body_dark);
  --lines-color: var(--lines-color_dark);
  --body-text: var(--body-text_dark);
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--body-text);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--body-text);
}

.img-in-box{
  width: 100%;
  max-width: 100%;
  height: 45%;
  object-fit: cover;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
}

.show {
  display: block !important;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating ion-icon {
  color: #f78b00;
  font-size: 15px;
}

body {
  color: var(--body-text);
  background: var(--bg_body);
}

/* start styling header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  background: var(--bg_default);
  position: relative;
  z-index: 2;
  box-shadow: 0px -2px 10px 0px var(--body-text_light);
}

header #logo {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 18px;
}

header nav ul {
  display: flex;
}

header nav ul li:first-child {
  margin-right: 5px;
}
header nav ul li .btn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  border: 1px solid var(--lines-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: transparent;
}

header nav ul li .btn-nav * {
  color: var(--body-text);
}

header nav ul li button .icon {
  padding-right: 5px;
}
/* end header */
/* start styling welcome section */
.welcome-section {
  position: relative;
  height: 140px;
  background: var(--bg_default);
}

.welcome-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /*border-bottom: 50px solid transparent;
  border-left: 70vw solid var(--brand-primary); */
  clip-path: polygon(0% 0%, 0% 40%, 85% 0%);
  background: linear-gradient(
    to right top,
    var(--brand-primary) 40%,
    var(--brand-secondary)
  );
  width: 90%;
  height: 80%;
}
.welcome-section::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  /* border-bottom: 50px solid transparent;
  border-right: 70vw solid var(--brand-secondary); */
  clip-path: polygon(15% 0%, 100% 0%, 100% 40%);
  background: var(--brand-secondary);
  width: 100%;
  height: 80%;
}

.welcome-section .text {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.welcome-section .text h1 {
  color: var(--brand-secondary);
  font-weight: 700;
}

/* start styling search part */
.content-container {
  margin: 20px 50px 50px;
}
.content-container .search-container .search-field {
  position: relative;
  display: flex;
  box-shadow: 0px 0px 6px 0px var(--lines-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.search-field input[type="text"],
.search-field select {
  border: none;
}
.search-field input[type="text"] {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 5px 5px 5px 40px;
  background: var(--bg_default);
  outline-color: var(--brand-primary);
  border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
}
.search-field .icon {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(15px, -50%);
  -webkit-transform: translate(15px, -50%);
  -moz-transform: translate(15px, -50%);
  -ms-transform: translate(15px, -50%);
  -o-transform: translate(15px, -50%);
  cursor: pointer;
}

.search-field .drop {
  display: flex;
  height: 45px;
}

.search-field .drop .drop-down {
  position: relative;
}
.search-field .drop .drop-down label {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 12px;
}
.search-field .drop .drop-down select {
  padding-left: 10px;
  width: 100px;
  height: 100%;
  font-size: 12px;
  padding-top: 10px;
  background: var(--bg_default);
  outline-color: var(--brand-primary);
}

.search-field .drop .drop-down .sort-select {
  border-left: 1px solid var(--lines-color);
  border-right: 1px solid var(--lines-color);
}

.search-field .drop .drop-down .filter-select {
  border-radius: 0 6px 6px 0;
}

.content-container #search-result {
  padding: 20px 0;
}

/* start course card styling */
.content-container .courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.courses .course {
  background: var(--bg_default);
  height: 268px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* 
.courses .course img {
  width: 100%;
  max-width: 100%;
  height: 45%;
  object-fit: cover;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
} */

.courses .course .course-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.courses .course .course-info .category {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.courses .course .course-info .topic {
  font-size: 15px;
  font-weight: 800;
  min-height: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.6;
}

.courses .course .course-info .name {
  font-size: 13px;
}

/* start styling footer */
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--body-text);
  padding-bottom: 40px;
}
footer .heart {
  color: var(--heart-color);
}

/* start details page styles */
.data-container {
  position: relative;
  overflow: hidden;
}

.data-container .data {
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
.data-container .data .text-data {
  flex-basis: 60%;
}

.data-container .data .text-data .details {
  position: relative;
  padding: 40px 0px;
}

.data .text-data .details  *:not(ion-icon) {
  color: var(--body-text_dark);
}

.data .text-data .details h3 {
  font-size: 17px;
  color: var(--brand-secondary);
}

.data .text-data .details h4 {
  font-size: 20px;
  font-weight: 800;
}
.data .text-data .details p {
  font-size: 14px;
}

.data .text-data .details::before {
  content: "";
  background: #333333;
  height: 100%;
  width: 200vw;
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
}

/* styles Sub Topics list */
.data .text-data .sub-topics {
  background: var(--bg_default);
  margin: 20px 0;
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.data .text-data .sub-topics h3 {
  padding: 15px 20px;
  font-size: 20px;
}

.data .text-data .sub-topics ul li {
  padding: 15px 20px;
  border-top: 1px solid var(--lines-color);
  display: flex;
  align-items: center;
}
.data .text-data .sub-topics ul li * {
  font-size: 17px;
}
.data .text-data .sub-topics ul li ion-icon {
  color: var(--brand-secondary);
  padding-right: 20px;
}

/* styles right box that contains image and add favorites button */

.data-container .data .right-col-card {
  flex-basis: 35%;
  margin-top: 40px;
  background: var(--bg_default_light);
  height: fit-content;
  border: 2px solid var(--lines-color_light);
  box-shadow: 0px 0px 1px 0px var(--lines-color_light);
}

.data-container .data .right-col-card h3,
.data-container .data .right-col-card p,
.data-container .data .right-col-card span {
  color: var(--body-text_light);
}

.data-container .data .right-col-card img{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

/* .img-box {
  width: 100%;
  max-width: 100%;
  height: 45%;
  object-fit: cover;
  background-color: #fff;
} */

.right-col-card .course-info h3 span {
  font-size: 14px;
}

.right-col-card .course-info h3 span a {
  text-decoration: underline;
  color: var(--brand-primary);
}

.right-col-card .course-info .add-favourites {
  padding: 15px 10px 10px;
  border: 1px solid var(--lines-color_light);
}

.right-col-card .course-info .add-favourites .btn-container {
  text-align: center;
}

.right-col-card .course-info .add-favourites .add-favourites p,
.right-col-card .course-info .add-favourites .btn-container p {
  font-size: 12px;
}

.course-info .add-favourites .btn-container button {
  padding: 15px 5px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: var(--body-text_dark);
  background: var(--brand-secondary);
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.add-favourites .btn-container button .add-myFavorites {
  color: var(--body-text_dark);
  font-size: 20px;
}

/* start favorites styles */
.my-favorites {
  width: 100vw;
  padding: 15px 50px;
  background: var(--bg_default);
  position: fixed;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 0px 5px 0px var(--lines-color);
  display: none;
}

.my-favorites h2 {
  padding-bottom: 15px;
}

.my-favorites .favorite-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-auto-rows: 125px;
  gap: 20px;
  max-height: 35vh;
  overflow: auto;
  padding: 5px;
}

.my-favorites .favorite-container .favorite-card {
  box-shadow: 0px 0px 5px -1px var(--lines-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.my-favorites .favorite-container .favorite-card img {
  height: 50%;
}

.favorite-container .favorite-card .favorite-topic,
.favorite-container .favorite-card .favorite-card .rating {
  font-size: 16px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* _______________________________________________________________ */
/* ____________________    media query   _________________________*/
@media (max-width: 992px) {
  .data-container .data {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .data-container .data {
    width: 90vw;
  }
}

@media (max-width: 600px) {
  header {
    padding: 0 20px;
  }
  .content-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  header .icon {
    padding-right: 0;
  }

  header nav ul li .btn-nav span {
    display: none;
  }
  .content-container .search-container .search-field {
    flex-direction: column;
  }
  .content-container .search-container .search-field input[type="text"] {
    border-bottom: 1px solid var(--lines-color);
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
  }
  .content-container .search-container .search-field .icon {
    top: 25%;
  }
  .search-field .drop .drop-down {
    flex-basis: 50%;
  }
  .search-field .drop .drop-down select {
    width: 100%;
  }
  .search-field .drop .drop-down .sort-select {
    border-left: none;
    border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -ms-border-radius: 0 0 0 6px;
    -o-border-radius: 0 0 0 6px;
  }

  .search-field .drop .drop-down .filter-select {
    border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -ms-border-radius: 0 0 6px 0;
    -o-border-radius: 0 0 6px 0;
  }

  .welcome-section::after {
    height: 55%;
  }
  .welcome-section::before {
    width: 70%;
    height: 55%;
  }

  .welcome-section .text {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    left: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
  .courses .course .course-info .category {
    max-width: 300px;
  }

  /* for details page */
  .data-container .data {
    display: block;
    padding-bottom: 20px;
  }
}
